@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Oswald:wght@700&display=swap');
@import 'intro.js/introjs.css';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* h1 {
  position: relative;
  width: 100%;
  padding-top: 60px;
  margin-top: 30px;
  margin-left: 500px;
  line-height: 1;
  font-size: clamp(2rem, -0.875rem + 8.333vw, 3.3rem);
  color: white;
} */

h1 {
  font-size:90pt;
  color: #fff;
  position: absolute;
  top: 20%;
  left:20%;
  font-family: 'Oswald', sans-serif;

}

h2 {
  position: relative;
  font-size: clamp(1rem, -0.875rem + 8.333vw, 2.5rem);
  line-height: 100%;
  padding: 0 30px 0 0;
  font-family: 'Oswald', sans-serif;
}

.intro-title {
  height: 100vh;
  width: 100%;
  margin:0 auto;
  background-image: url('./latam.png');
  background-size: cover;
  position:relative;
  font-size: 50pt;
  font-family: 'Oswald', sans-serif;

}


.intro-text {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.intro-bullets {
  padding-left: 80px;
  padding-right: 50px;
}

.dark {
  background-color: #1E2634;
  color: #ffffff;
  
}


nav ul {
  width: 100%;
  height: 100vh;
  background: #fff;
  overflow-y: auto;
  min-height: 100%;
  padding-bottom: 30px;
}

nav ul {
  grid-area: nav;
}

nav ul a,
.not-clickable {
  position: relative;
  display: block;
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  font-size: 16px;
}

.active {
  background: #333;
  color: #3e3c3c;
}

.not-clickable {
  text-decoration: line-through;
  color: #b9b9b9;
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

small {
  display: inline-block;
}

small + small {
  border-left: 1px solid #2094f3;
  margin-left: 10px;
  padding-left: 10px;
}

small a {
  text-decoration: none;
  color: #2094f3;
}

small a:hover {
  text-decoration: underline;
}

.leaflet-container {
  margin: 30px auto;
  height: 500px;
  z-index: 0;
  border: 2px solid #333;
  overflow: hidden;
}

iframe {
  display: block;
  width: 100%;
  border: 0;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-areas:
    "nav head"
    "nav main";
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px;
  gap: 0 30px;
  max-width: 1350px;
}

.add-space {
  margin: 100px;
}

header {
  grid-area: head;
}


nav {
  grid-area: nav;
}

nav {
  width: 100%;
  height: 100vh;
  background: #fff;
  min-height: 100%;
  padding-bottom: 30px;
  border-right: 2px solid #333;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.2);
}

main {
  grid-area: main;
  max-width: 1000px;
  width: 100%;
  padding-right: 30px;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 100%;
    grid-template-areas:
      "head"
      "main";
    gap: 0;
  }

  header {
    padding: 20px;
  }

  .show-menu {
    position: fixed;
    display: block;
    bottom: 30px;
    right: 0;
    padding: 10px 15px;
    background: #333;
    color: #fff;
    border-radius: 5px 0 0 5px;
    z-index: 10;
  }

  nav {
    position: fixed;
    z-index: 9;
    max-width: 320px;
    min-height: 100%;
    width: 100%;
    bottom: 0;
    top: 0;
    transform: translateX(-400px);
    transition: transform 0.5s ease-in-out;
  }

  .show-menu-examples nav {
    transform: translateX(0);
  }

  nav ul li:hover {
    background: #d6d6d6;
  }
  main {
    padding: 20px;
  }
}

.marker-position {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  padding: 5px;
  font-size: 1rem;
  font-weight: 700;
  background-color: #fff;
}

.container {
  display: flex;
  width: 100%;
  max-width: 400px;
  padding: 5px;
  margin: 20px auto;
}

.marker-click {
  text-decoration: none;
  color: red;
}

.space-between {
  justify-content: space-between;
}



.legend {
  background: #fff;
  text-align: left;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 28px;
  height: 18px;
  float: left;
  margin-right: 10px;
  opacity: 0.7;
}
.info {
  padding: 6px px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}


.description {
  width: 250px;
  font-size: 22px;
  color: #333;
  padding: 10px 14px;
  background-color: hsla(0, 0%, 100%, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid grey;
}

.drop{
  position: relative;
  display: inline-block;
  margin-right: 5px;
}


.drop:visited .dropMenu {
  display:flex;
  flex-direction: column;
}
.dropMenu:visited {
  display:flex;
  flex-direction: column;
}

.buttoncb {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.table-codebook{
  overflow-y: scroll;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  top: 8px;
  right: 16px;
  width: 80%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}
.codebook-header {
  position: relative;
  width: 100%;
  margin-top: -1px;
  margin-left: 8px;
  line-height: 1;
  color: #333;
  overflow-x: auto;
}

.popup{
  opacity: 0.1;

}

.multi-select {
  max-width: 700px;
  color: black;
}
.leafletRandomMarker {
  background: #fff;
  padding: 5px;
  width: 34px;
  height: 34px;
  border: 1px solid #ccc;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 5px rgb(0 0 0 / 65%);
  border-radius: 4px;
}
.description {
  background: rgba(246, 242, 242, 0);
  border:0px solid rgba(246, 242, 242, 0);
}

.popup .leaflet-popup-content-wrapper {
  border-radius: 150px;
  width: 320px;
  outline: 0.2rem solid;
  outline-color: white;
  font-size:80%;
  margin: 20px;
  
  overflow: hidden;

}



.popup-img {
  height: 50px;
  width: auto;
}

.customTooltip * {
  color: #4a4a4a;
  font-size: 18px;
}

.customTooltip .introjs-tooltip-title {
  color: #161E2D;
  font-size: 20px;
}

.introjs-floating {
  min-width: 600px !important;
  max-width: 600px !important;
  margin-left: -300px !important;
  margin-top: -260px !important;

}


.expand-icon {
  margin-top: 100px;
  margin-left: 700px;
}

